spring:
  profiles:
    active: local # 기본 활성 프로필
  application:
    name: syuka-invest

server:
  port: 8080
  
# 공통 JPA 설정
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        jdbc:
          time_zone: Asia/Seoul